.callout {
	max-width: 400px;
	margin: 10px auto;
	border: 1px solid #fff;
	padding: 10px;
	background-color: blue;
	color: white;

}

.callout img {
	float: right;
	margin: 12px solid black;
	border: 2px solid black;
	padding: 5px;
	background-color: white;
	width: 100px;
	height: auto;


}

blockquote {
	margin: 1px;

}

cite {
	display: block;
	border-top: 1px dotted #fff;
	padding-top: 10px;
	text-align: right;
	font-size: smaller;


}