:root {
    --main-bg-color: lightblue;
    --main-text-color: darkblue;
    --padding: 1rem;
    --border: 1px solid black;
}

nav {
    background-color: var(--main-bg-color);
    padding: var(--padding);
}

nav a {
    color: var(--main-text-color);
    display: block;
    padding: var(--padding);
}

h1 {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

img {
    width: 1500px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

p {
    padding: var(--padding);
}

main {
    max-width: 850px;
}

aside {
    max-width: 20rem;
    border: var(--border);
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    padding: var(--padding);
    margin: 1rem;
}
aside img {
    width: 200px;
    height: auto;
}
main img    {
    width: 150px;
    height: auto;
}
p {padding: 0;}
footer {
    margin-top: 15px;
    border-top: 2px solid black;
    text-align: center;
}